{{> menu }}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row text-center p-4 text-light"><h2>Gameweek {{gameweek}}</h2></div>
            <table class="table table-striped table-dark" id="fixture-list">
                    <thead>
                        <th style="text-align: right;">Home</th>
                        <th></th>
                        <th>Away</th>
                    </thead>
                    <tbody>
                    {{#each fixtureList}}
                    <tr>
                        <td style="text-align: right;">{{homeTeam}}</td>
                        <td style="text-align: center;">{{result}}</td>
                        <td>{{awayTeam}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="row text-center p-4 text-light"><h2>League Standings</h2></div>
            <table class="table table-striped table-dark" id="fixture-list">
                <thead>
                    <th>Pos.</th>
                    <th></th>
                    <th>Team</th>
                    <th>Played</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GD</th>
                    <th>Pts</th>
                </thead>
                <tbody>
                {{#each standings}}
                <tr>
                    <td>{{position}}</td>
                    <td><img src="{{crestUrl}}" height="25" width="25"></td>
                    <td>{{teamName}}</td>
                    <td>{{playedGames}}</td>
                    <td>{{wins}}</td>
                    <td>{{draws}}</td>
                    <td>{{lost}}</td>
                    <td>{{goalDifference}}</td>
                    <td><b>{{points}}</b></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>